{% extends "base.html" %}

{% block title %}
Register Page
{% endblock %}

{% block container %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data" class="p-5 border rounded bg-light shadow-lg">
                {{ form.hidden_tag() }}
                <div>
                    <img src="{{ url_for('static', filename='uploads/logo.png') }}"
                         alt="ლოგო"
                         width="40"
                         height="40"
                         class="d-inline-block align-text-top me-2 rounded-circle">
                    <span class="fw-bold">Ｍｙ Ｓｈｏｐ • Log In</span>
                </div>
                <br>
                <div class="mb-3">
                    {{ form.username(class="form-control", placeholder=form.username.label.text) }}
                </div>

                <div class="mb-3">
                    {{ form.password(class="form-control", placeholder=form.password.label.text) }}
                </div>

                <div class="text-center">
                    {{ form.submit(class="btn btn-primary px-5") }}
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}